{% extends 'base.html' %}

{% load static %}
{% block title %}
    Change Phone number
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col offset-md-3 col-md-6 offset-lg-4 col-lg-4 my-auto">

                <form method="post" class="my-5">
                    {% csrf_token %}
                    <div class="form-row my-0 my-md-2">
                        <div class="col-form-label-sm col-12 col-md-4">
                            Current Phone number
                        </div>
                        <div class="col">
                            <p class="form-text text-muted replacer">
                                09123456789
                            </p>
                        </div>
                    </div>

                    <div class="form-row my-0 my-md-2">
                        <div class="col-form-label-sm col-12 col-md-4">
                            Phone number
                        </div>
                        <div class="col">
                            <input type="text" value="" placeholder="New Phone number" value="" id="" class="form-control">
                        </div>
                    </div>

                    <div class="form-row my-0 my-md-2">
                        <div class="col-form-label-sm col-12 col-md-4">
                            Password
                        </div>
                        <div class="col">
                            <input type="password" value="" placeholder="Password" value="" id="" class="form-control">
                        </div>
                    </div>

                    <div class="form-row px-1 my-3">
                        <button type="submit" class="btn btn-danger col font-weight-bold">
                            Confirm
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}