{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row h-100 px-0">

            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 my-auto" style="position: relative;">
                <form class="my-5 p-0" method="post">
                    <div class="form-row my-3 py-2">
                        <div class="col text-center">
                            <a href="{% url 'sitemap:home' %}" title="Metrokart">
                                <img src="" height="100px" class="d-flex justify-content-center mx-auto" alt="company logo">
                            </a>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class = "row">
                        <div class="col-12 col-lg-6">

                            <div class="form-row my-0 my-md-1">
                                <div class="col-12 col-md-6 my-1 my-md-0">
                                    <label class="py-0 my-1 d-none d-lg-inline-block col-form-label-sm">First name&nbsp;<strong class="text-danger">*</strong></label>
                                    <input type="text" class="form-control" placeholder="First name" name="first_name" value="{% if form.first_name.value %}{{form.first_name.value}}{% endif %}" required>

                                </div>
                                <div class="col-12 col-md-6 my-1 my-md-0">
                                    <label class="py-0 my-1 d-none d-lg-inline-block col-form-label-sm">Last name&nbsp;<strong class="text-danger">*</strong></label>
                                    <input type="text" class="form-control" placeholder="Last name" name="last_name" value="{% if form.last_name.value %}{{form.last_name.value}}{% endif %}" required>

                                </div>
                            </div>

                            <div class="form-row my-0 my-md-1 my-lg-2">
                                <div class="col my-1 my-md-0">
                                    <label class="py-0 my-1 d-none d-lg-inline-block col-form-label-sm">Username&nbsp;<strong class="text-danger">*</strong></label>
                                    <input type="text" class="form-control" placeholder="Username" name="username" value="{% if form.username.value %}{{form.username.value}}{% endif %}" required>

                                </div>
                            </div>

                            <div class="form-row my-0 my-md-1 my-lg-2">
                                <div class="col my-1 my-md-0">
                                    <label class="py-0 my-1 d-none d-lg-inline-block col-form-label-sm">Email Address&nbsp;<strong class="text-danger">*</strong></label>
                                    <input type="email" class="form-control" placeholder="Email address" name="email" value="{% if form.email.value %}{{form.email.value}}{% endif %}" required>

                                </div>
                            </div>

                            <div class="form-row my-0 my-md-1 my-lg-2">
                                <div class="col my-1 my-md-0">
                                    <label class="py-0 my-1 d-none d-lg-inline-block col-form-label-sm">Mobile Phone&nbsp;<strong class="text-danger">*</strong></label>
                                    <input type="text" class="form-control" placeholder="Mobile phone" name="phone" value="{% if form.phone.value %}{{form.phone.value}}{% endif %}" required>

                                </div>
                            </div>

                        </div>


                        <div class="col-12 col-lg-6">

                            <div class="form-row my-0 my-md-1 my-lg-2">
                                <div class="col-12 col-md-8 my-1 my-md-0">
                                    <label class="py-0 my-1 d-none d-lg-inline-block col-form-label-sm">Birthdate&nbsp;<strong class="text-danger">*</strong></label>
                                    <input type="date" value="" name="birthdate" placeholder="Birthdate" class="form-control">
                                </div>


                                <div class="col-12 col-md-4 my-1 my-md-0">
                                    <label class="py-0 my-1 d-none d-lg-inline-block col-form-label-sm">Gender&nbsp;<strong class="text-danger">*</strong></label>
                                    <select name="gender" class="custom-select">
                                        <option value="">Gender</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                        <option value="C">Custom</option>
                                    </select>

                                </div>
                            </div>

                            <div class="form-row  my-0 my-md-1 my-lg-2">
                                <div class="col-12 col-md-6 my-1 my-md-0">
                                    <label class="py-0 my-1 d-none d-lg-inline-block col-form-label-sm">Password&nbsp;<strong class="text-danger">*</strong></label>
                                    <input type="password" class="form-control" placeholder="New password" name="password" value="" required>
                                    <span class="help-tooltip sr-only sr-only-focusable">First name</span>

                                </div>
                                <div class="col-12 col-md-6 my-1 my-md-0">
                                    <label class="py-0 my-1 d-none d-lg-inline-block col-form-label-sm">Confirm Password&nbsp;<strong class="text-danger">*</strong></label>
                                    <input type="password" class="form-control" placeholder="Confirm password" name="conf_password" value="" required>

                                </div>

                            </div>

                            <div class="form-row my-3">
                                <div class="col help-tooltip form-text">
                                    <p>By creating an account, you agree to our <a href="{% url 'terms-client' %}">Terms</a>, <a href="{% url 'data-policy' %}">Data Policy</a> and <a href="{% url 'cookies-policy' %}">Cookies Policy</a>.</p>
                                </div>
                            </div>

                            <div class="form-row">
                                <button type="submit" class="btn btn-primary col">
                                    Sign Up
                                </button>
                            </div>

                            <div class="form-row my-3">
                                <div class="col help-tooltip form-text text-center">
                                    Want to sell? <a href="{% url "mall:merchant-form" %}" class="font-weight-bold">Become a seller</a>
                                </div>
                            </div>

                            <div class="form-row my-3">
                                <div class="col help-tooltip form-text text-center">
                                    Already member? <a href="{% url 'account:login' %}" class="font-weight-bold">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col d-flex justify-content-end" aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">

                <div class="" style="position: absolute; top: 10px; right: 10px; float: right;">
                    {% if form.conf_password.errors %}
                        {% for error in form.conf_password.errors %}
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
                            <div class="toast-header">
                                <img src="..." class="rounded mr-2" alt="...">
                                <strong class="mr-auto">Confirm Password</strong>
                                <small class="text-muted">just now</small>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="toast-body">
                                {{ error }}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}

                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
                            <div class="toast-header">
                                <img src="..." class="rounded mr-2" alt="...">
                                <strong class="mr-auto">New Password</strong>
                                <small class="text-muted">just now</small>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="toast-body">
                                {{ error }}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if form.first_name.errors %}
                        {% for error in form.first_name.errors %}
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
                            <div class="toast-header">
                                <img src="..." class="rounded mr-2" alt="...">
                                <strong class="mr-auto">First name</strong>
                                <small class="text-muted">just now</small>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="toast-body">
                                {{ error }}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}

                    {% if form.password.errors %}
                        {% for error in password.errors %}
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
                            <div class="toast-header">
                                <img src="..." class="rounded mr-2" alt="...">
                                <strong class="mr-auto">Password</strong>
                                <small class="text-muted">just now</small>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="toast-body">
                                {{ error }}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}

                    {% if form.last_name.errors %}
                        {% for error in form.last_name.errors %}
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
                            <div class="toast-header">
                                <img src="..." class="rounded mr-2" alt="...">
                                <strong class="mr-auto">Last name</strong>
                                <small class="text-muted">just now</small>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="toast-body">
                                {{ error }}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}

                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
                            <div class="toast-header">
                                <img src="..." class="rounded mr-2" alt="...">
                                <strong class="mr-auto">Username</strong>
                                <small class="text-muted">just now</small>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="toast-body">
                                {{ error }}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}

                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
                            <div class="toast-header">
                                <img src="..." class="rounded mr-2" alt="...">
                                <strong class="mr-auto">Email Address</strong>
                                <small class="text-muted">just now</small>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="toast-body">
                                {{ error }}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}

                    {% if form.phone.errors %}
                        {% for error in form.phone.errors %}
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
                            <div class="toast-header">
                                <img src="..." class="rounded mr-2" alt="...">
                                <strong class="mr-auto">Mobile Phone</strong>
                                <small class="text-muted">just now</small>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="toast-body">
                                {{ error }}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}

                    {% if form.birthdate.errors %}
                        {% for error in form.birthdate.errors %}
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
                            <div class="toast-header bg-danger text-white">
                                <img src="..." class="rounded mr-2" alt="...">
                                <strong class="mr-auto">Birthdate</strong>
                                <small class="text-muted">just now</small>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="toast-body">
                                {{ error }}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}

                    {% if form.gender.errors %}
                        {% for error in form.gender.errors %}
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
                            <div class="toast-header bg-danger text-white">
                                <img src="..." class="rounded mr-2" alt="...">
                                <strong class="mr-auto">Error</strong>
                                <small class="text-muted">just now</small>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="toast-body">
                                {{ error }}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}