stripe==2.36.2
django==2.2.20
mysql-client
django-crispy-forms
bootstrap4
django-docs==0.3.1
Jinja2==2.10
mysql-connector==2.1.6
mysqlclient==1.4.1
pipenv==2018.11.26
psycopg2==2.8.2
python-decouple==3.1
requests==2.21.0
telebot==0.0.3
telegram==0.0.1
virtualenv==16.1.0
virtualenvwrapper-win==1.2.5
xhtml2pdf==0.2.3
python-telegram-bot==11.1.0