{% extends "base.html" %}
{% load static %}
{% block title %}

{% endblock %}

{% block metadescription %}

{% endblock %}

{% block metakeywords %}

{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 my-auto">
                <section>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-row my-0 my-md-1">
                                <div class="col-12 col-md-6 my-1 my-md-0">
                                    <label class="py-0 my-1 d-none d-lg-inline-block col-form-label-sm">First name&nbsp;<strong class="text-danger">*</strong></label>
                                    <input type="text" class="form-control" placeholder="First name" name="first_name" value="{% if form.first_name.value %}{{form.first_name.value}}{% endif %}" required>

                                </div>
                                <div class="col-12 col-md-6 my-1 my-md-0">
                                    <label class="py-0 my-1 d-none d-lg-inline-block col-form-label-sm">Last name&nbsp;<strong class="text-danger">*</strong></label>
                                    <input type="text" class="form-control" placeholder="Last name" name="last_name" value="{% if form.last_name.value %}{{form.last_name.value}}{% endif %}" required>

                                </div>
                            </div>

                            <div class="form-row my-0 my-md-1 my-lg-2">
                                <div class="col my-1 my-md-0">
                                    <label class="py-0 my-1 d-none d-lg-inline-block col-form-label-sm">Username&nbsp;<strong class="text-danger">*</strong></label>
                                    <input type="text" class="form-control" placeholder="Username" name="username" value="{% if form.username.value %}{{form.username.value}}{% endif %}" required>

                                </div>
                            </div>

                            <div class="form-row my-0 my-md-1 my-lg-2">
                                <div class="col my-1 my-md-0">
                                    <label class="py-0 my-1 d-none d-lg-inline-block col-form-label-sm">Email Address&nbsp;<strong class="text-danger">*</strong></label>
                                    <input type="email" class="form-control" placeholder="Email address" name="email" value="{% if form.email.value %}{{form.email.value}}{% endif %}" required>

                                </div>
                            </div>

                            <div class="form-row  my-0 my-md-1 my-lg-2">
                                <div class="col-12 col-md-6 my-1 my-md-0">
                                    <label class="py-0 my-1 d-none d-lg-inline-block col-form-label-sm">Password&nbsp;<strong class="text-danger">*</strong></label>
                                    <input type="password" class="form-control" placeholder="New password" name="password" value="" required>
                                    <span class="help-tooltip sr-only sr-only-focusable">First name</span>

                                </div>
                                <div class="col-12 col-md-6 my-1 my-md-0">
                                    <label class="py-0 my-1 d-none d-lg-inline-block col-form-label-sm">Confirm Password&nbsp;<strong class="text-danger">*</strong></label>
                                    <input type="password" class="form-control" placeholder="Confirm password" name="conf_password" value="" required>

                                </div>

                            </div>

                            <div class="form-row my-3">
                                <div class="col help-tooltip form-text">
                                    <p>By creating an account, you agree to our <a href="{% url 'terms-mall' %}">Terms</a>, <a href="{% url 'data-policy' %}">Data Policy</a> and <a href="{% url 'cookies-policy' %}">Cookies Policy</a>.</p>
                                </div>
                            </div>

                            <div class="form-row">
                                <button type="submit" class="btn btn-primary col">
                                    Sign Up
                                </button>
                            </div>

                            <div class="form-row my-3">
                                <div class="col help-tooltip form-text text-center">
                                    Already member? <a href="{% url 'account:login' %}" class="font-weight-bold">Login</a>
                                </div>
                            </div>

                    </form>
                </section>
            </div>
        </div>
    </div>

{% endblock %}