    <nav class="navbar bg-dark px-0 py-0">
        <div class="container-fluid px-0">
            <ul class="nav navbar d-flex justify-content-start px-0 py-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="">
                        <i class="fa fa-phone"></i> +63 918 459 2272
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="mailto:someone@example.com">
                        <i class="fa fa-envelope-o"></i> someone@example.com
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">
                        <i class="fa fa-map-marker"></i> P. Santos St. Bagumbayan, Naga City
                    </a>
                </li>
            </ul>

            <ul class="nav navbar d-flex justify-content-start justify-content-center justify-content-end px-0 py-0 py-md-auto">
                {% if user.is_authenticated %}
                <li>
                    <a href="" class="text-white nav-link">
                        <span class="">&#8369;</span> PHP
                    </a>
                </li>
                <li>
                    <a href="" class="text-white nav-link">
                        <i class="fa fa-user-o"></i> My Account
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'account:login' %}" class="text-white nav-link">
                        Log In
                    </a>
                </li>
                <li>
                    <a href="{% url 'account:signup' %}" class="text-white nav-link">
                        Sign Up
                    </a>
                </li>

                {% endif %}
            </ul>

        </div>
    </nav>

    <div class="container-fluid">
        <div class="row py-3 bg-darken">
            <div class="col-md-3 text-center">
                <a href="{% url 'sitemap:home' %}" class="text-white">LOGO</a>
            </div>
            <div class="col-md-6 text-center">
                SEARCH
            </div>
            <div class="col-md-3 clearfix text-center">
                WISHLIST/CART
            </div>
        </div>
    </div>